# OSX
.DS_Store
# If you prefer the allow list template instead of the deny list, see community template:

# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# FirstProgram Artifacts
firstProgram/wc/wc

# ToDo List Artifacts
interacting/todo/cmd/todo/*.json
interacting/todo/cmd/todo/todo

# Markdown Previewer Artifacts
workingFiles/mdp/mdp

# File System Walker Artifacts
fileSystem/walk/walk

# Performance Artifacts
performance/colStats/colStats

# Cobra Port Scan Artifacts
cobra/pScan/pScan
cobra/pScan/pScan.hosts
cobra/pScan/docs/